<div class="stock-search">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="row">
      <label for="ticker">Stock Symbol</label>
      <input id="ticker" type="text" formControlName="ticker">
    </div>
    <button type="submit" [disabled]="!searchForm.valid">Get Past Performance</button>
  </form>
</div>

<div *ngIf="loading" class="loader" style="text-align: center;">
  Loading
</div>

<div *ngIf="!loading && results && results.length > 0">
  <h2>Closing prices for the last 90 days</h2>
  <ul class="stock-results" *ngFor="let result of results">
    <li>{{result.date}} - <b>${{result.closePrice}}</b></li>
  </ul>
</div>
